.releaseProgressWrapper {
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #d0eae9;
}

.left {
  width: 100%;
  margin-right: 15px;
}

.date {
  /* display: inline-block; */
  margin-bottom: 3px;
  font-size: 14px;
}

.days {
  font-size: 30px;
}

.fz40 {
  font-size: 40px;
}
