.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonSubmit {
  padding: 5px 10px;
  font-size: 1.2rem;
  margin: 10px 0;
  box-shadow: 0 0 4px rgb(0, 0, 0, .5);
  border: none;
  border-radius: 5px;
  color: #5b5050;
  background-color: rgb(226, 136, 19);  outline: none;
  cursor: pointer;
}