.item {
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
  align-items: center;
  color: #070779;
  list-style-type: none;
}

.itemParam {
  list-style-type: none;
}

.item:hover {
  color: #090947;
}

.arrowRight {
  left: -18px;
  top: 8px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-right: 7px;
  transition: all 0.2s;
}

.arrowDown {
  top: 6px;
  transform: rotate(45deg);
  transition: all 0.2s;
}

.img {
  height: 70px;
  margin-right: 45px;
}

.param {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.listParams li {
  margin-bottom: 3px;
  font-size: 14px;
  border-bottom: 1px solid rgba(126, 123, 123, 0.5);
}

.param li span {
  display: inline-block;
  width: 50px;
  font-weight: 700;
  margin-right: 20px;
}
