.header {
  background-color: #cddbe8;
  position: sticky;
  top: 0;
  z-index: 2;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.wrapHeader {
  min-width: 900px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.iconSocial {
  margin-right: 15px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.iconLogo {
  margin-right: 300px;
  max-width: 250px;
  cursor: pointer;
}

.wrapperNav {
  background-color: #102f54;
  color: white;
}

.navigation {
  font-size: 20px;
  display: flex;
}

.itemNav {
  padding: 15px 20px;
  margin-right: 20px;
}

.itemNav:hover {
  background-color: #224f85;
}

.icons {
  display: flex;
  flex-grow: 1;
}

.iconAuth {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;

}

.iconHeart {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.iconHeart :global .border {
  fill: black;
}


.linkFavorites {
  position: relative;
}

.countFavorites {
  position: absolute;
  top: -11px;
  right: -9px;
  font-weight: 700;
}