.header {
  position: sticky;
  background-color: #cddbe8;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateY(0);
  transition: transform .3s ease-in;
}

.hidden {
  transform: translateY(-100%);
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.wrapHeader {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.iconSocial {
  margin-right: 15px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.iconLogo {
  margin-right: 300px;
  max-width: 200px;
  cursor: pointer;
}



.wrapperNav {
  background-color: #102f54;
  color: white;
}

.navigation {
  font-size: 20px;
  display: flex;
}

.itemNav {
  padding: 8px 20px;
  margin-right: 20px;
}

.itemNav:hover {
  background-color: #224f85;
}

.iconAuth {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;

}

.iconHeart {
  width: 25px;
  height: 25px;
  cursor: pointer;
  stroke: black;
}

.iconHeartFilled {
  fill: black;
}

.wrapIconFavorites {
  display: flex;
  margin-right: 50px;
}

.linkFavorites {
  position: relative;
}

.countFavorites {
  position: absolute;
  top: -11px;
  right: -9px;
  font-weight: 700;
}

/* media================ */

@media (max-width: 900px) {
  .iconLogo {
    margin-right: 100px;
    max-width: 200px;
  }

  .icons {
    margin-right: 150px;
  }
}

@media (max-width: 750px) {
  .iconLogo {
    margin-right: 70px;
    max-width: 130px;
  }

  .icons {
    margin-right: 30px;
  }

  .navigation {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .iconLogo {
    margin-right: 70px;
    max-width: 130px;
  }

  .socials {
    display: none;
  }

  .navigation {
    font-size: 18px;
  }
}