.guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.pageDescription {
  margin-bottom: 30px;
  font-size: 1rem;
}

.title {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}

.tabBar {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #d7e2ef;
}

@media (max-width: 900px) and (min-width: 770px) {
  .guide {
    padding-top: 30px;
  }

  .pageDescription {
    margin-bottom: 30px;
    text-align: center;
  }

  .tabBar {
    justify-content: center;
    border: none;
  }
}

@media (max-width: 769px) {
  .pageDescription {
    max-width: 600px;
  }
  .title {
    font-size: 2rem;
    text-align: center;
  }
  .pageDescription p {
    font-size: 0.9rem;
  }
  .tabBar {
    justify-content: center;
    border: none;
  }
}
