.listOfDevices {
  max-width: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease-out;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.wrapList {
  position: relative;
  max-width: 860px;
  margin-bottom: 15px;
  overflow: hidden;
  border-left: 5px solid #d7e2ef;
  border-right: 5px solid #d7e2ef;
  border-bottom: 1px solid #d7e2ef;
}

.buttonSliderBack,
.buttonSliderForward {
  position: absolute;
  width: 30px;
  height: 100%;
  padding: 8px;
  border: none;
  opacity: 0.2;
  outline: none;
  background-color: #e7ebf0;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.buttonSliderBack:hover,
.buttonSliderForward:hover {
  opacity: 0.6;
  transition: all 0.3s ease-out;
}

.buttonSliderBack {
  top: 0;
  left: 0;
}

.buttonSliderForward {
  top: 0;
  right: 0;
}

@media (max-width: 900px) {
  .listOfDevices {
    width: 700px;
    justify-content: flex-start;
    border-top: 1px solid #d7e2ef;
  }
}

@media (max-width: 769px) {
  .wrapList {
    width: 600px;
    overflow: hidden;
  }
}

@media (max-width: 649px) {
  .wrapList {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .wrapList {
    display: none;
  }
}

@media (max-width: 519px) {
  .wrapList {
    width: 400px;
  }
}

@media (max-width: 426px) {
  .wrapList {
    width: 323px;
  }
}
