.releaseProgressWrapper {
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  border-bottom: 1px solid #d0eae9;
}

.left {
  width: 100%;
  margin-right: 15px;
}

.date {
  display: inline-block;
  margin-bottom: 3px;
  font-size: 14px;
  cursor: pointer;
}

.days {
  font-size: 26px;
}

.daysSinceLastRelease {
  font-size: 39px;
}

.p0 {
  padding: 0;
}

.green {
  color: #66bc00;
}

.yellow {
  color:#dddd20;
}

.red {
  color: #aa0d23;
}