.main {
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
} 



@media (max-width: 769px) {
  .wrapper {
    max-width: 700px;
  } 
}

@media (max-width: 650px) and (min-width: 525px)  {
  .wrapper {
    max-width: 500px;
  }
}

@media (max-width: 524px) and (min-width: 426px) {
  .wrapper {
    max-width: 400px;
  } 
}

@media (max-width: 425px) {
  .wrapper {
    max-width: 280px;
  } 
}