.main {
  min-height: 100vh;
  padding: 0 20px;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
} 



@media (max-width: 769px) {
  .wrapper {
    max-width: 700px;
  } 
}

@media (max-width: 650px)  {
  .wrapper {
    max-width: 500px;
  }
}

@media (max-width: 524px) {
  .wrapper {

    max-width: 480px;
  } 
}

