.label {
  position: relative;
}

.input {
  height: 40px;
  width: 250px;
  padding: 0 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(128, 128, 128, .3);
  outline: none;
}

.input:focus {
  border-color: rgb(128, 128, 128, .8);
}

.inputError {
  border-color: red;

}

.error {
  color: red;
}

.iconHidePassword {
  position: absolute;
  top: 14%;
  right: 4%;
  width: 25px;
  height: 25px;
  fill: rgb(128, 128, 128, .6);
  transition: all .2s ease-out;
  cursor: pointer;
}

.iconHidePasswordActive {
  fill: black;
  transition: all .2s ease-out;

}