.guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.pageDescription {
  margin-bottom: 50px;
}

.pageDescription h2 {
  font-size: 40px;
  font-weight: 700;
}

.tabBar {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #d7e2ef;
}