.header {
  max-width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #cddbe8;
  transform: translateY(0);
  transition: transform 0.3s ease-in;
}

.hidden {
  transform: translateY(-100%);
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.wrapHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.iconSocial {
  margin-right: 15px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.iconLogo {
  max-width: 170px;
  cursor: pointer;
}

.wrapperNav {
  background-color: #102f54;
  color: white;
}

.navigation {
  display: flex;
}

.sectionTitle {
  list-style: none;
  padding: 8px 20px;
  margin-right: 20px;
  font-size: 1.1rem;
}

.itemNav:hover {
  background-color: #224f85;
}

.wrapIconAuth {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconHeart {
  width: 25px;
  height: 25px;
  cursor: pointer;
  stroke: black;
}

.iconHeartFilled {
  fill: black;
}

.wrapIconFavorites {
  display: flex;
  margin-right: 50px;
}

.linkFavorites {
  position: relative;
}

.countFavorites {
  position: absolute;
  top: -11px;
  right: -9px;
  font-weight: 700;
}

.burgerMenu {
  display: none;
}

.menuActive {
  display: none;
}

/* media================ */

@media (max-width: 900px) and (min-width: 770px) {
  .wrapper {
    padding-left: 20px;
  }

  .icons {
    margin-right: 150px;
  }
}

@media (max-width: 769px) and (min-width: 651px) {
  .wrapper {
    max-width: 650px;
  }
  .iconLogo {
    margin-right: 70px;
    max-width: 130px;
  }

  .icons {
    margin-right: 30px;
  }

  .sectionTitle {
    padding: 6px 15px;
    margin-right: 15px;
    font-size: 1rem;
  }

  .navigation {
    font-size: 1.1rem;
  }
}

@media (max-width: 650px) and (min-width: 465px) {
  .wrapper {
    max-width: 500px;
  }

  .wrapIconFavorites {
    margin-right: 10px;
  }

  .iconLogo {
    margin-right: 20px;
    max-width: 150px;
  }

  .iconHeart {
    margin-right: 10px;
  }

  .iconSocial {
    margin-left: auto;
    margin-right: 8px;
    width: 14px;
    height: 14px;
  }

  .navigation {
    display: none;
  }

  .strip {
    border-bottom: 2px solid white;
    width: 100%;
  }

  .menu {
    position: absolute;
    top: 0;
    width: 100%;
    left: -100%;
    background-color: #224f85;
    transition: all 0.3s ease-out;
  }

  .menuActive {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    z-index: 10;
    transition: all 0.3s ease-out;
  }

  .burgerNavigation {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

  }

  .itemNav {
    padding: 0;
    margin: 10px 0;
    text-align: center;
    width: 100%;
    transition: all .2s ease-out;
  }

  .itemNav:hover {
    background-color: #123e75;
    transition: all .2s ease-out;

  }

  .sectionTitle {
    color: white;
    font-size: 1.2rem;
  }


  .burgerMenu {
    display: block;
    margin-right: 30px;
    transition: all 0.3s ease-out;
    outline: none;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
  }

  .burgerMenuActive {
    position: absolute;
    right: -15px;
    top: 7px;
    transition: all 0.3s ease-out;
    transition-delay: 0.08s;
  }

  .top,
  .down,
  .middle {
    width: 30px;
    border-top: 3.5px solid black;
    margin: 6px 0;
    border-radius: 2px;
    transition: all 0.3s ease-out;
    opacity: 1;
  }

  .topActive {
    transform: translateY(9px) rotate(45deg);
    border-color: white;
  }

  .middleActive {
    opacity: 0;
    border-color: white;
  }

  .downActive {
    transform: translateY(-9.5px) rotate(-45deg);
    border-color: white;
  }
}

@media (max-width: 465px) {
  .wrapper {
    max-width: 400px;
  }

  .iconLogo {
    margin-right: 20px;
    max-width: 140px;
  }

  .iconSocial {
    display: none;
  }

  .wrapIconAuth {
    width: 23px;
    height: 23px;
  }

  .iconHeart {
    width: 23px;
    height: 23px;
    cursor: pointer;
    stroke: black;
  }

  .menu {
    position: absolute;
    top: 0;
    width: 100%;
    left: -100%;
    background-color: #224f85;
    transition: all 0.3s ease-out;
  }

  .menuActive {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    z-index: 10;
    transition: all 0.3s ease-out;
  }
  .burgerNavigation {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

  }

  .itemNav {
    padding: 0;
    margin: 10px 0;
    text-align: center;
    width: 100%;
    transition: all .2s ease-out;
  }

  .itemNav:hover {
    background-color: #123e75;
    transition: all .2s ease-out;

  }

  .sectionTitle {
    color: white;
    font-size: 1.2rem;
  }

  .header {
    max-height: 46px;
  }

  .wrapperNav {
    position: absolute;
    top: 0;
    width: 100%;
    left: -100%;
    transition: all 0.3s ease-out;
  }

  .wrapperNavVisible {
    left: 0;
    transition: all 0.3s ease-out;
  }



  .sectionTitle {
    font-size: 1.5rem;
  }

  .navigation {
    display: none;
  }

  .burgerMenu {
    display: block;
    margin-right: 30px;
    transition: all 0.3s ease-out;
    outline: none;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
  }

  .burgerMenuActive {
    position: absolute;
    right: -15px;
    top: 7px;
    transition: all 0.3s ease-out;
    transition-delay: 0.08s;
  }

  .top,
  .down,
  .middle {
    width: 30px;
    border-top: 3.5px solid black;
    margin: 6px 0;
    border-radius: 2px;
    transition: all 0.3s ease-out;
    opacity: 1;
  }

  .topActive {
    transform: translateY(9px) rotate(45deg);
    border-color: white;
    transition: all 0.3s ease-out;
  }

  .middleActive {
    opacity: 0;
    border-color: white;
    transition: all 0.3s ease-out;
  }

  .downActive {
    transform: translateY(-9.5px) rotate(-45deg);
    border-color: white;
    transition: all 0.3s ease-out;
  }
}
