.header {
  max-width: 100%;
  position: sticky;
  background-color: #cddbe8;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateY(0);
  transition: transform .3s ease-in;
}

.hidden {
  transform: translateY(-100%);
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.wrapHeader {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.iconSocial {
  margin-right: 15px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.iconLogo {
  margin-right: 300px;
  max-width: 200px;
  cursor: pointer;
}



.wrapperNav {
  background-color: #102f54;
  color: white;
}

.navigation {
  display: flex;
}

.itemNav {
  padding: 8px 20px;
  margin-right: 20px;
  font-size: 1.1rem;

}

.itemNav:hover {
  background-color: #224f85;
}

.wrapIconAuth {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.iconHeart {
  width: 25px;
  height: 25px;
  cursor: pointer;
  stroke: black;
}

.iconHeartFilled {
  fill: black;
}

.wrapIconFavorites {
  display: flex;
  margin-right: 50px;
}

.linkFavorites {
  position: relative;
}

.countFavorites {
  position: absolute;
  top: -11px;
  right: -9px;
  font-weight: 700;
}

/* media================ */

@media (max-width: 900px) {
  .iconLogo {
    margin-right: 100px;
    max-width: 200px;
  }

  .icons {
    margin-right: 150px;
  }
}

@media (max-width: 769px) {
  .wrapper {
    max-width: 700px;
  }

  .iconLogo {
    margin-right: 70px;
    max-width: 130px;
  }

  .icons {
    margin-right: 30px;
  }

  .navigation {
    font-size: 1.1rem;
  }
}

@media (max-width: 426px) {
  .wrapper {
    max-width: 400px;
  }

  .iconLogo {
    margin-right: 45px;
    max-width: 100px;
  }

  .iconSocial {
    display: none;
  }

  .wrapIconAuth {
    width: 23px;
    height: 23px;
  }
  
  .iconHeart {
    width: 23px;
    height: 23px;
    cursor: pointer;
    stroke: black;
  }
  
  .navigation {
    font-size: .9rem;
  }
  
  .itemNav {
    padding: 4px 10px;
    margin-right: 10px;
  }
}