.footer {
  background-color: #cddbe8;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.iconSocial {
  margin-right: 10px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.iconLogo {
  max-width: 150px;
  cursor: pointer;
}

.copyright {
  font-size: 10px;
}

@media (max-width: 900px) {
  .wrapper {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 700px;
  }
}

@media (max-width: 600px) {
  .copyright {
    font-size: 8px;
  }
}
@media (max-width: 519px) {
  .wrapper {
    max-width: 400px;
  }

  .copyright {
    display: none;
  }

  .iconLogo {
    margin-right: 15px;
  }
  .iconSocial {
    margin-right: 10px;
    margin-bottom: 5px;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
}

@media (max-width: 426px) {
  .wrapper {
    max-width: 350px;
  }
  .iconLogo {
    max-width: 100px;
    margin-right: 15px;
    cursor: pointer;
  }

  .copyright {
    display: none;
  }
}
