h3 {
  margin: 0;
  font-weight: 400;
}

li {
  list-style-type: none; 
 }

 li:first-child {
  padding-top: 0;
}

li:last-child {
  border: none;
}

 ul {
  margin: 0; 
  padding: 0; 
 }

.releases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d0eae9;
}

.row:last-child {
  align-items: flex-start;
  border: none;
  padding-bottom: 0;
}

.title {
  font-size: 22px;
  margin-right: 45px;
}








