.footer {
  background-color: #cddbe8;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.iconSocial {
  margin-right: 10px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.iconLogo {
  max-width: 150px;
  cursor: pointer;
}

.copyright {
  font-size: 10px;
}