.productPage {
  padding-top: 100px;
}

.header {
  display: flex;
  align-items: flex-start;
}

.name {
  margin-right: 30px;
  display: inline;
  font-size: 50px;
  font-weight: 700;
}

.description {
  margin-right: 20px;
}

.description p {
  font-size: 24px;
  color: #4d6c99;
}

.iconHeart {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.iconHeart :global .border {
  fill: red;
}