.productPage {
  padding-top: 100px;
}

.header {
  /* max-width: 750px; */
  display: flex;
  align-items: flex-start;
}

.name {
  font-size: 50px;
  font-weight: 700;
}

.description {
  margin-right: 20px;
}

.description p {
  font-size: 24px;
  color: #4d6c99;
}

.iconHeart {
  padding: 2px;
  width: 35px;
  height: 35px;
  border: 1px solid grey;
  border-radius: 25%;
  cursor: pointer;
}